<h1>Forgot Password</h1>

<%= f.label :password %>
<%= f.password_field :password, class: 'form-control' %>

<%= f.label :password_confirmation %>
<%= f.password_field :password_confirmation, class: 'form-control' %>

<%= f.submit "Log in", class: "btn btn-primary btn-lg button-orange" %>