<center>
  <br>
  <div class="jumbotron col-lg-10 col-lg-offset-1 light-green">
<h1>All Your Experiments</h1>
 
<table class="experiment-table">
  <tr class="table-header col-lg-12">
    <th>Name</th>
    <th>Description</th>
    <th colspan="3"></th>
  </tr>
 
  <% @active_experiments.each do |active_experiment| %>
    <tr>
      <td><%= active_experiment.name %></td>
      <td><%= active_experiment.description %></td>
      <td><%= link_to 'Show', experiment_path(active_experiment) %></td>
      <td><%= link_to 'Edit', edit_experiment_path(active_experiment) %></td>
      <td><%= link_to 'Destroy', experiment_path(active_experiment),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>

    </tr>
  <% end %>
  <tr><td colspan="6"></td></tr>
  <% @inactive_experiments.each do |inactive_experiment| %>
    <tr>
      <td><%= inactive_experiment.name %></td>
      <td><%= inactive_experiment.description %></td>
      <td><%= link_to 'Show', experiment_path(inactive_experiment) %></td>
      <td><%= link_to 'Edit', edit_experiment_path(inactive_experiment) %></td>
      <td><%= link_to 'Destroy', experiment_path(inactive_experiment),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>

    </tr>
  <% end %>
</table>
</div>
</center>